* {
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}
body{
    background-image: url(bg.jpg);
}
/* Header y Footer */
header{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #FF2020;
    padding: 0;
    margin: 0;
}
.logo{
    margin-left: 2%;
    width: 40px;
    height: 60px;
    margin-left: 20px;
}
li, a{
    text-decoration: none;
    list-style: none;
}
a{
    color: black;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav li{
    margin: 20px;
    font-size: 30px;
}
nav, header form{
    display: flex;
    flex-direction: row;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #DB1010;
    font-size: 20px;
}
.buscador{
    background-color:rgb(255, 255, 255);
    box-shadow: none;
}
.boton2, .boton1{
    background-color: black;
    color: #DB1010;
    border: 0;
    border-radius: 3px;
}
/* Home */
.cancionfoto{
    width: 70%;
    height: 70%;
    margin-bottom: 5%;
}
.canciones ul, .albums ul, .artistas ul{
    display: flex;
    padding: 0 2%;

}
.canciones a, .albums a, .artistas a{
    width: 30%;
    height: 30%;
}
.fila{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}
.tituloseccion{
    color: #ffffff;
}
h3{
    margin-left: 5%;
}